<launch>
    <rosparam file="$(find bentobot_bringup)/config/bentobot_config.yaml" />
    
    <node name="joy" pkg="joy" type="joy_node"/>

    <node name="mcu_bridge" pkg="bentobot_mcu_bridge" type="bentobot_mcu_bridge_node.py"/>

    <node name="teleop" pkg="bentobot_teleop" type="bentobot_teleop_node.py"/>

    <node name="odom" pkg="bentobot_odom" type="odom_node" output="screen"/>

    <include file="$(find ldlidar_stl_ros)/launch/ld06.launch" />

    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch"/>
</launch>
